

.content {
  // background-image: url("../../../assets/images/default.jpg");
  background-color: rgb(8, 8, 18);
  background-repeat: no-repeat; 
  background-size: cover;      
  background-position: center;  
  background-attachment: fixed; 
  height: 100vh;
  width: 100vw;
  color: white
}

.films-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.film-card {
  width: 250px;
  padding: 16px;
  border-radius: 12px;
  background: #1f2937;
  color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  transition: transform 0.2s ease;
}

.film-card:hover {
  transform: translateY(-5px);
}

.film-card h2 {
  margin-bottom: 10px;
  color: #ffe81f;
}