<section class="hero">
  <app-game>app game</app-game>

  @if (films.isLoading()) {
    <p>Loading...</p>
  }


  <!-- //// showing all the movies from the api -->
  <!-- @for (film of films.value() ?? []; track film.title) {
    @if (film.title === 'A New Hope') {
      <a [routerLink]="['/a-new-hope']">
        <p>{{ film.title }}</p>
      </a>
    } @else {
      <p>{{ film.title }}</p>
    }
  } -->

<h1>Let's guess which episode this is!</h1>

<h2>This movie was filmed in 1977, name it!</h2>

<input
  type="text"
  [(ngModel)]="answer"
  placeholder="Enter movie title"
/>

<button (click)="submitAnswer()">
  Guess
</button>

<hr>

<h2>I don't want to guess. Take me to the movie I want!</h2>

<input
  type="text"
  [(ngModel)]="movieName"
  placeholder="Enter movie name"
/>

<button (click)="goToMovie()">
  Go
</button>

@if (errorMessage) {
  <p>{{ errorMessage }}</p>
}

</section>