<section
  class="section"
  [style.background-image]="backgroundStyle()"
  style="background-size: cover; background-position: center;"
>
  @if (currentFilm(); as film) {

    <div class="film-details">

      <h1>{{ film.title }}</h1>

      <h3>
        Episode {{ film.episodeId }}
      </h3>

   @if (showCrawl()) {
  <h3>
    {{ film.openingCrawl }}
  </h3>
}
      <p>
        Director: {{ film.director }}
      </p>

      <p>
        Producer: {{ film.producer }}
      </p>

      <p>
        Release Date: {{ film.releaseDate }}
      </p>

      <h2>Characters</h2>

      @if (people.error()) {
        <p class="error-message">
          Failed to load characters.
        </p>
      } @else {
        <div class="entity-grid">
          @for (person of characters(); track person.url) {
            <div
              class="entity-tile"
              [routerLink]="['/person', getId(person.url)]">

              {{ person.name }}

            </div>
          }
        </div>
      }

      <h2>Planets</h2>

      @if (planets.error()) {
        <p class="error-message">
          Failed to load planets.
        </p>
      } @else {
        <div class="entity-grid">
          @for (planet of filmPlanets(); track planet.url) {
            <div
              class="entity-tile"
              [routerLink]="['/planet', getId(planet.url)]">

              {{ planet.name }}

            </div>
          }
        </div>
      }

      <h2>Species</h2>

      @if (species.error()) {
        <p class="error-message">
          Failed to load species.
        </p>
      } @else {
        <div class="entity-grid">
          @for (specie of filmSpecies(); track specie.url) {
            <div
              class="entity-tile"
              [routerLink]="['/specie', getId(specie.url)]">

              {{ specie.name }}

            </div>
          }
        </div>
      }

      <h2>Vehicles</h2>

      @if (vehicles.error()) {
        <p class="error-message">
          Failed to load vehicles.
        </p>
      } @else {
        <div class="entity-grid">
          @for (vehicle of filmVehicles(); track vehicle.url) {
            <div
              class="entity-tile"
              [routerLink]="['/vehicle', getId(vehicle.url)]">

              {{ vehicle.name }}

            </div>
          }
        </div>
      }

      <h2>Starships</h2>

      @if (starships.error()) {
        <p class="error-message">
          Failed to load starships.
        </p>
      } @else {
        <div class="entity-grid">
          @for (starship of filmStarships(); track starship.url) {
            <div
              class="entity-tile"
              [routerLink]="['/starship', getId(starship.url)]">

              {{ starship.name }}

            </div>
          }
        </div>
      }

    </div>

  }
</section>