<section>

@for (film of films.value() ?? []; track film.episode_id) {

  @if (film.title.toLowerCase() === episodeName) {
<div>
    <h1>{{ film.title }}</h1>
    <p><strong>Episode:</strong> {{ film.episode_id }}</p>
    <p><strong>Director:</strong> {{ film.director }}</p>
    <p><strong>Producer:</strong> {{ film.producer }}</p>
    <p><strong>Release date:</strong> {{ film.release_date }}</p>
     <p><strong>Opening crawl:</strong> {{ film.opening_crawl }}</p>
    </div>
    <!-- /// add planets to the movie and link with another api - check in previous commits -->
  }
}
</section>